.header{
    display: flex;
    align-items: center;

}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
}
.logo {
    height: 40px;
}

.title-group{
    padding-left: 30px;
}

.title-group i{
    padding-right: 5px;
}