<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a href="">
            <img class="logo" src="assets/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="/">
            <i class="material-icons">
                {{icons}}
            </i>
            {{title}}
        </a>
    </span>
</mat-toolbar>