<mat-card>
    <mat-card-title>
        Editar Item
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="item.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preco" [(ngModel)]="item.price" name="price">
        </mat-form-field>
    </form>
</mat-card>


<button class="button" mat-raised-button (click)="updateItem()" color="primary">
    Salvar
</button>

<button class="button" mat-raised-button (click)="returnPage()">
    Cancelar
</button>