<mat-card>
    <mat-card-title>
        Excluir este item ?
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="item.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preco" [value]="item.price" name="price" disabled>
        </mat-form-field>
    </form>
</mat-card>


<button class="button" mat-raised-button (click)="deleteItem()" color="warn">
    Deletar
</button>

<button class="button" mat-raised-button (click)="returnPage()">
    Cancelar
</button>